@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Furniture MVCCore Crud With SQLServer</h1>

    <br />

    <p>
        <h2><b>Furnitures</b> </h2>
        <br />
    </p>
    <p><a href="https://localhost:44310/Furnitures/Index">1.Home Of Furniture</a></p>
    <p><a href="https://localhost:44310/Furnitures/SearchByName">2.Furniture Search By Name</a></p>
    <p><a href="https://localhost:44310/Furnitures/SearchByRateRange">2.Furniture Search By Rate Range</a></p>
    <p><a href="https://localhost:44310/Furnitures/SearchByCategory">2.Furniture Search By Category</a></p>

</div>