@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Furniture With SQL Server DB </h1>
    <br />
    <p>Products <a href="https://localhost:44383/Products/Index">Home Of Products</a>.</p>



   
</div>
