@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Book Managment MVCCore By Calling API</h1>
    <br />

    <p><b>Author</b><p />

    <p><a href="http://localhost:3287/Author/Index">Author Home</a></p>
    <br />

    <p><b>Book</b><p />

    <p><a href="http://localhost:3287/Books/Index">Books Home</a></p>
    <br />


    <p><b>Publisher</b><p />

    <p><a href="http://localhost:3287/Publisher/Index">Publisher Home</a></p>

</div>





